*{
    box-sizing: border-box;
}
body{
    flex-direction: column;
    min-height: 40em;
    align-items: center;
    display: flex;
    font-family: sans-serif;
}
.card{
    width: 30%;
    box-shadow: 0px 1px 0px black;
    border-radius: 15px;
    margin-bottom: 1em;
}
.card .card_header{
    width: 100%;
    align-items: center;
    padding: 1em .5em;
    border-radius: 10px;
;
    display: flex;
    justify-content: space-between;
    color: white;
}
.card.tittle,.id{
    display: flex;
    align-items: center;
}
.card  .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 1em;
}
.card_footer{
    position: relative;
    color: #888888;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
.red{
    background-color: #EB5757;
}
.purple{
    background-color: #9B51E0;
}
.blue{
    background-color: #21A1C9;
}